{% extends 'pages/base.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/styles/responsive.css' %}">
{% endblock %}

{% block content %}

<!-- Products -->
<div class="products">
	<div class="container">
		<div class="row products_row">
		{% for book in books %}
		<div class="col-xl-4 col-md-6">
			<div class="product">
				<div class="product_image"><img src="{{ book.img_src }}" alt=""></div>
							<div class="product_content">
								<div class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name"><a href="{% url 'pages:detail' book.id %}">{{ book.titulli }}</a></div>
											<div class="product_category"><a href="category.html">{{ book.autori }}</a></div>
										</div>
									</div>
									<div class="ml-auto text-right">
										<div class="product_price text-right">${{ book.cmimi }}</span></div>
									</div>
								</div>
								<div class="product_buttons">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<a id="cart" href="{% url 'pages:addToCart' book.id %}" style="display:block;width:100%;height:100%;border-top: 1px solid #ededed;padding: 5px;">
										<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div><div><img src="{% static 'pages/images/cart.svg' %}" class="svg" alt=""><div>+</div></div></div>
										</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}



